{% extends 'layout.html' %}
{% block title %}Каталог{% endblock %}
{% block content %}
<h1>Каталог платьев</h1>
<div class="products">
    {% for product in products %}
    <div class="product-card">
        <img src="{{ url_for('static', filename='/img/' ~ product.image) }}" alt="{{ product.name }}">
        <h3>{{ product.name }}</h3>
        <p class="price">{{ product.price }} ₽</p>
        <a class="btn" href="{{ url_for('app.product', id=product.id) }}">Подробнее</a>
    </div>
    {% endfor %}
</div>
{% endblock %}